<div class="container">
  <div class="logout box">

    <div class="info">
      <h1>再见</h1>
      <p>
        <% if @url.nil? %>
          <%= '你已成功登出' %>
        <% else %>
          <%= t('logout.logged_out_with_url') %> <a href="<%= @url %>"><%= @url %></a>
        <% end %>
      </p>
    </div>
  </div>
</div>
