<p>Hi <%= @user.name %>,</p>

<p>
点击下方的链接认证你的邮箱:
</p>

<%= link_to "新邮箱验证", edit_email_confirmation_url(@user.confirmation_token,
                                                    new_email: @user.new_email) %>
