body {
  background: #fff;
  color: #666;
  font-size: 12px;
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}

* {
  box-sizing: border-box;
}

body,
p,
a,
ul,
ol,
li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  li {
    list-style: none;
  }
}

.mobile-show {
  display: none;
}

@media screen and (max-width: 640px) {
  .mobile-show {
    display: block;
  }
}

.container-fluid {
  margin: 0;
  width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  min-width: 1200px;
}

.horizontal-ul {
  &:after {
    content: "";
    clear: both;
    display: block;
  }
  & > li {
    float: left;
  }
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  border-color: #fff;
  border-top: 5px solid;
  border-left: 5px solid transparent !important;
  border-right: 5px solid transparent !important;
  transition: all .3s;
}

.hover-menu {
  position: absolute;
  z-index: 1;
  top: 35px;
  opacity: 0;
  transition: all .3s;
  visibility: hidden;
  border: 1px solid #fff;
  background: #e95e21;
  color: #fff;
  border-radius: 4px;
  behavior: url(/assets/PIE.htc);
  box-shadow: 0 2px 2px 0 #444;
  li {
    padding: 0 10px;
    &:hover {
      background: #fff;
      color: #777;
    }
  }
}

.nav-menu li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    width: 100%;
}

li.dropdown {
    display: inline-block;
    color:#F5A623;
    top:3px;

    .arrow{
      font-size: medium;
      vertical-align: middle;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 140px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 2;

        a {
            color: black;
            padding: 12px 18px;
            text-decoration: none;
            display: block;
            text-align: center;
        }

        a:hover {background-color: #f1f1f1}
    }
}



.dropdown:hover .dropdown-content {
    display: block;
}
