html,body,{
  height: 100%;
}

#yield{
  min-height: 70%; 
}

body {
  background: #fff;
  color: #666;
  font-size: 12px;
}

* {
  box-sizing: border-box;
}

body,
p,
a,
ul,
ol,
li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  li {
    list-style: none;
  }
}

.container-fluid {
  margin: 0;
  width: 100%;
}

.container {
  width: 1200px !important;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}

.horizontal-ul {
  &:after {
    content: "";
    clear: both;
    display: block;
  }
  & > li {
    float: left;
  }
}

.login-social-group li{
  margin-right: 10px;
  line-height: 27px;
}

.login-social-group a img{
  width: 27px;
  height: 27px;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  border-color: #fff;
  border-top: 5px solid;
  border-left: 5px solid transparent !important;
  border-right: 5px solid transparent !important;
}

.text-center {
  text-align: center;
}

.alert{
  color:#555;

  font-family:sans-serif;font-size:11px;

  margin:10px 20px;

  span {
    font-weight:bold;
    padding:10px;
    border-radius:10px;
  }

  .error {
    background:#ffecec no-repeat 10px 50%;
    border:1px solid #f5aca6;
  }
  .success {
      background:#e9ffd9 no-repeat 10px 50%;
      border:1px solid #a6ca8a;
  }
  .warning {
      background:#fff8c4 no-repeat 10px 50%;
      border:1px solid #f2c779;
  }
  .notice {
      background:#e3f7fc no-repeat 10px 50%;
      border:1px solid #8ed9f6;
  }
}
