/*build by lmio*/
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
* {
  vertical-align: baseline;
}
body {
  font-size: 12px;
  color: #424242;
  font-family: 'Microsoft Sans Serif', 'Microsoft YaHei', Tahoma, Arial, Verdana, Sans-Serif;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  cursor: default;
}
ul {
  list-style: none;
}
.clear {
  clear: both;
}
.col-l {
  float: left;
}
.col-r {
  float: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-italic {
  font-style: italic;
}
.fixed {
  position: fixed !important;
}
.container-content {
  width: 1200px;
  position: relative;
  margin: 0 auto;
}
.container-content:after {
  content: "";
  display: block;
  clear: both;
}
.container-layer {
  width: 100%;
  position: relative;
  min-width: 1200px;
}
.ul-horizontal {
  list-style: none;
}
.ul-horizontal li {
  float: left;
}
.t-10 {
  font-size: 10px;
}
.t-12 {
  font-size: 12px;
}
.t-14 {
  font-size: 14px;
}
.t-16 {
  font-size: 16px;
}
.t-18 {
  font-size: 18px;
}
.t-20 {
  font-size: 20px;
}
.t-22 {
  font-size: 22px;
}
.t-24 {
  font-size: 24px;
}
.t-26 {
  font-size: 26px;
}
.t-28 {
  font-size: 28px;
}
.t-30 {
  font-size: 30px;
}
.t-32 {
  font-size: 32px;
}
.t-34 {
  font-size: 34px;
}
.t-36 {
  font-size: 36px;
}
.t-38 {
  font-size: 38px;
}
.t-48 {
  font-size: 48px;
}
.t-50 {
  font-size: 50px;
}
.t-66 {
  font-size: 66px;
}
.t-72 {
  font-size: 72px;
}
.t-76 {
  font-size: 76px;
}
.t-108 {
  font-size: 108px;
}
.t-bold {
  font-weight: bold;
}
.t-und {
  text-decoration: underline;
}
.center-box {
  float: right;
  position: relative;
  right: 50%;
}
.center-in {
  float: right;
  position: relative;
  left: 50%;
}
.pull-down-0 {
  margin-bottom: 0;
}
.pull-down-2 {
  margin-bottom: 2px;
}
.pull-down-5 {
  margin-bottom: 5px;
}
.pull-down-10 {
  margin-bottom: 10px;
}
.pull-down-20 {
  margin-bottom: 20px;
}
.pull-down-30 {
  margin-bottom: 30px;
}
.pull-down-40 {
  margin-bottom: 40px;
}
.pull-down-50 {
  margin-bottom: 50px;
}
.pull-down-70 {
  margin-bottom: 70px;
}
.btn {
  border: none;
  outline: none;
  cursor: pointer;
}
.btn-default {
  background: #fff;
  transition: background 0.4s, color 0.4s;
}
.btn-default:hover {
  background: #2B71B8;
  color: #fff;
}
.btn-lg {
  padding: 11px 16px;
  font-size: 16px;
}
.btn-md {
  padding: 6px 10px;
  font-size: 14px;
}
.abs-tl {
  position: absolute;
  top: 0;
  left: 0;
}
.abs-tr {
  position: absolute;
  top: 0;
  right: 0;
}
.abs-bl {
  position: absolute;
  bottom: 0;
  left: 0;
}
.abs-br {
  position: absolute;
  bottom: 0;
  right: 0;
}
.border-right {
  border-top: none !important;
  border-left: none !important;
  border-bottom: none !important;
}
.border-top {
  border-right: none !important;
  border-left: none !important;
  border-bottom: none !important;
}
.border-left {
  border-top: none !important;
  border-right: none !important;
  border-bottom: none !important;
}
.border-bottom {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}
.border-left-top {
  border-right: none !important;
  border-bottom: none !important;
}
.border-left-bottom {
  border-right: none !important;
  border-top: none !important;
}
.border-left-right {
  border-top: none !important;
  border-bottom: none !important;
}
.border-right-top {
  border-left: none !important;
  border-bottom: none !important;
}
.border-right-bottom {
  border-left: none !important;
  border-top: none !important;
}
.border-top-bottom {
  border-right: none !important;
  border-left: none !important;
}
.border-none {
  border: none !important;
}
.hide {
  display: none;
}
.clickMe {
  color: #0092ef;
  text-decoration: underline;
  cursor: pointer;
}
#banner {
  height: 530px;
}
#banner .container-content {
  position: relative;
}
#banner .container-content .nav {
  width: 1200px;
  background: transparent;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 10;
}
#banner .container-content .nav .logo {
  width: 230px;
  height: 70px;
  float: left;
}
#banner .container-content .nav .menu {
  float: right;
  margin-top: 15px;
}
#banner .container-content .nav .menu .menu-btn {
  background: #fff;
  color: #FF6F00;
  display: block;
  float: left;
  width: 113px;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 18px;
  cursor: pointer;
  margin-left: 18px;
  transition: background .4s, color .4s;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
}
#banner .container-content .nav .menu .menu-btn.active {
  background: #FF6F00;
  color: #ffffff;
}
#banner .container-content .nav .menu .menu-btn:hover {
  background: #FF6F00;
  color: #ffffff;
}
#banner .sliders {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 530px;
}
#banner .sliders .items .item {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 530px;
  background: center center;
}
#banner .sliders .switch {
  border: 1px solid #cccccc;
  height: 18px;
  background: #f5f5f5;
  border-radius: 10px;
  position: absolute;
  bottom: 30px;
  width: 150px;
  z-index: 5;
  left: 525px;
  cursor: pointer;
}
#banner .sliders .switch .article {
  transition: margin-left 0.4s;
  height: 18px;
  background: #FF6F00;
  border-radius: 9px;
}
#floor {
/*url("../images/bk-big.png")*/
  background: image-url('home/bk-big.png') no-repeat center top;
  height: 2100px;
  margin-top: 50px;
}
#floor #service .service-title {
  padding-top: 30px;
  font-size: 42px;
  text-align: center;
}
#floor #service .service-item {
  margin-top: 80px;
}
#floor #service .service-item .items {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: 1008px;
}
#floor #service .service-item .items .item {
  float: left;
  width: 216px;
  margin: 0 60px;
}
#floor #service .service-item .items .item .service-item-text {
  margin: 15px auto;
}
#floor #service .service-item .items .item .service-item-text .orange {
  color: #FFA421;
}
#floor #service .service-item .items .item .service-item-text .text-left {
  padding-left: 20px;
}
#floor .double-arrow {
  height: 200px;
}
#floor #map .items {
  overflow: hidden;
  position: relative;
}
#floor #map .items .item {
  float: left;
  width: 378px;
  margin: 0 6px;
}
#floor #map .items .item .map-item-img {
  height: 437px;
}
#floor #map .items .item .map-item-text {
  margin-top: 15px;
  padding: 0 30px;
}
#floor #map .items .item .map-item-text p {
  text-indent: 1em;
}
#floor #contact {
  background: image-url('home/contact.png');
  height: 756px;
  margin-top: 52px;
}
#about {
  background: image-url('about/about-bk.jpg');
}
#about .container-content {
  position: relative;
}
#about .container-content .nav {
  width: 1200px;
  background: transparent;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 10;
}
#about .container-content .nav .logo {
  width: 230px;
  height: 70px;
  float: left;
}
#about .container-content .nav .menu {
  float: right;
  margin-top: 15px;
}
#about .container-content .nav .menu .menu-btn {
  background: #fff;
  color: #FF6F00;
  display: block;
  float: left;
  width: 113px;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 18px;
  cursor: pointer;
  margin-left: 18px;
  transition: background .4s, color .4s;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
}
#about .container-content .nav .menu .menu-btn.active {
  background: #FF6F00;
  color: #ffffff;
}
#about .container-content .nav .menu .menu-btn:hover {
  background: #FF6F00;
  color: #ffffff;
}
#about .banner {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  padding-top: 150px;
  background: image-url('about/about-banner.fw.png') left bottom no-repeat;
  height: 617px;
}
#about .team .title {
  text-align: center;
  margin: 60px 0 50px;
  font-size: 44px;
}
#about .team .content .items {
  overflow: hidden;
  display: block;
}
#about .team .content .items .item {
  width: 337px;
  float: left;
  margin: 0 31px;
}
#about .team .content .items .item .pao {
  width: 337px;
  height: 212px;
  margin-bottom: 10px;
}
#about .team .content .items .item .avatar {
  width: 210px;
  height: 210px;
  margin: 0 auto 15px;
}
#about .team .content .items .item .dec {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
#about .partner {
  width: 720px;
  margin: 50px auto 20px;
}
#about .partner .title {
  font-size: 40px;
  text-align: center;
}
#about .partner .content .items .item {
  float: left;
  width: 50%;
  background: #cccccc;
  height: 70px;
  margin-bottom: 20px;
}
#about .join-in {
  background: image-url('about/join-us.fw.png') no-repeat;
  width: 980px;
  height: 596px;
  margin: 0 auto;
}
#project {
  background: image-url('about/about-bk.jpg');
}
#project .project-top {
  position: relative;
}
#project .project-top .nav {
  width: 1200px;
  background: transparent;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 10;
}
#project .project-top .nav .logo {
  width: 230px;
  height: 70px;
  float: left;
}
#project .project-top .nav .menu {
  float: right;
  margin-top: 15px;
}
#project .project-top .nav .menu .menu-btn {
  background: #fff;
  color: #FF6F00;
  display: block;
  float: left;
  width: 113px;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 18px;
  cursor: pointer;
  margin-left: 18px;
  transition: background .4s, color .4s;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
}
#project .project-top .nav .menu .menu-btn.active {
  background: #FF6F00;
  color: #ffffff;
}
#project .project-top .nav .menu .menu-btn:hover {
  background: #FF6F00;
  color: #ffffff;
}
#project .project-content {
  padding-top: 200px;
}
#project .project-content .case-list .items {
  display: block;
  overflow: hidden;
  margin-bottom: 60px;
}
#project .project-content .case-list .items .item {
  font-size: 38px;
  float: left;
  text-align: center;
  width: 25%;
}
#project .project-content .case-list .items .item.active {
  color: #FF6F00;
}
#project .project-content .case-list .items :hover {
  cursor: pointer;
}
#project .project-content .title {
  font-size: 38px;
  text-align: center;
  padding-bottom: 40px;
}
#project .project-content .list {
  overflow: hidden;
}
#project .project-content .list .items {
  display: block;
  overflow: hidden;
  margin-bottom: 30px;
}
#project .project-content .list .items .item {
  text-align: center;
  width: 20%;
  float: left;
}
#project .project-content .list .items .item .item-title {
  font-size: 18px;
  margin-bottom: 30px;
}
#project .project-content .list .items .item .item-title.active {
  color: #FF6F00;
}
#project .project-content .list .items .item :hover {
  cursor: pointer;
}
#project .project-content .content .items {
  display: block;
  overflow: hidden;
}
#project .project-content .content .items .item {
  display: none;
}
#project .project-content .content .items .item.active {
  display: block;
}
