.page {
  padding-top: 50px;
  padding-left: 120px;
}

.btn-dome {
  font-size: 14px;
  color: #fff;
  background: #e95e21;
  border: none;
  outline: none;
  padding: 8px 20px;
  cursor: pointer;
  margin-left: 100px;
}

.box{
  padding: 0 40px;
}

.info{

  margin-bottom: 50px;
  h1{
    font-size: 18px;
    font-weight: bold;
  }
  .username{
    font-size: 16px;
    font-family: monospace;
  }
}

.msg{
  margin-left: 100px;
  color: red;
}

.logo {
  margin-bottom: 20px;
}

.title {
  font-size: 32px;
  color: #e95e21;
}

.like-tabs {
  font-size: 18px;
  height: 80px;
  line-height: 80px;
  div {
    padding: 0 20px;
    display: inline-block;
  }

  .disabled a{
    color: darkgray;
  }
  .active {
    color: #e95e21;

    a {
      color: #e95e21;
    }
  }
}

.form {
  font-size: 14px;
  .row {
    width: 400px;
    line-height: 36px;
    height: 72px;
    margin-bottom: 5px;
    .input-wrapper {
      .captcha-input {
        width: 150px;
        float: left;
        margin-left: 20px;
      }
      .captcha {
        width: 120px;
        float: left;
        margin: 0 15px;
        cursor: pointer;
        height: 36px;
        border: 1px solid #444;
      }
    }
    .half-input {
      width: 150px;
      float: left;
      margin-left: 20px;
    }
    .half-btn {
      min-width: 110px;
      height: 36px;
      font-size: 14px;
      color: #fff;
      line-height: 32px;
      margin-left: 20px;
      background: #e95e21;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
  label {
    display: block;
    float: left;
    width: 80px;
  }

  input[type=text],
  input[type=password],
  input[type=tel],
  input[type=email] {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    display: block;
    font-size: 14px;
    line-height: 36px;
    height: 36px;
    padding: 6px;
    width: 300px;
    margin-left: 100px;

    &:focus {
      background: #F5F5F4;
      border-color: #b3b3b3;
      outline: none !important;
    }
  }

  .form-link {
    float: right;
    color: #9b9b9b;
    margin-right: 18px;
  }

}

.bk {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: image-url('bk.png');
  height: 545px;
  z-index: -1;
}

.www_robodou_cn {
  .page {
    .title {
      color: #00A0E8 !important;
    }
    .btn-dome {
      background: #00A0E8 !important;
    }
  }
  .bk {
    background-image: image-url('bk-2.png') !important;
  }
  .half-btn{
    background-color: #00A0E8 !important;
  }
}

.field_with_errors input{
  border-color: red;
}

.link-wrapper{
  width: 400px;
    line-height: 36px;
    height: 36px;
    margin-bottom: 5px;
}

// .login-social-group{
//   margin-top: 20px;
// }


@media only screen and (max-width: 768px) {
    .page {
        padding-left: 5%;
    }
  .form {
    input[type=text],
    input[type=password],
    input[type=tel],
    input[type=email] {
      width: 70%;
      margin-left: 0px;
    }
    .form-link {
        float: none;
    }
    label{
      width:100%;
    }

    .row {

      .half-input {
          margin-left: 0px;
      }

      .input-wrapper {
        .captcha-input {
          margin-left: 0px;
        }
      }
    }

  }
  #footer{
    .left{
      width:100%;
    }

    .middle{
      width: 100%;
    }

    .right{
      width: 100%;
      padding: 0px 20px 20px;
    }
  }

}

.center-nav{
  margin: 10px;
  padding: 0;
  width: 20%;
  background-color: #f1f1f1;
  overflow: auto;
  min-width: 80px;
  float: left;

  li{
    padding: 20px 10px;
    font-size: 20px;

    a{
      display: block;
      color: #000;
      padding: 8px 16px;
      text-decoration: none;
    }

    a.active {
        background-color: #E16623;
        color: white;
    }
  }
}

